/* body{


-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
font-size: 14px;
line-height: 1.42857143;
font-family: 'Open Sans', sans-serif;
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
color: #636b72;
box-sizing: border-box;
} */

.contact__container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.contact__mainmap{

}

.contact_details{
    float: right;
    margin-left:27em;
}

/* .contact_details h3{
    margin-bottom: 3rem;
} */
#contact_parent{
    display: flex;
}

#contact_parent iframe{
    width: 50vw;
    height: 80vh;
    border: 0;
}

@media screen and (max-width:796px) {
    iframe{
        margin: 0;
    }
}


@media screen and (max-width:990px) {
    #contact_parent{
        display: flex;
        flex-direction: column;
        margin-left:-25rem;
        /* margin: auto; */
    }
    #contact_parent iframe{
        width: 100%;
        height: 80vh;
        border: 0;
    }
   
  }
  
  @media screen and (max-width:650px) {
    #contact_parent{
        display: flex;
        flex-direction: column;
        margin-left:-25rem;
        /* margin: auto; */
    }
    

  }
